$couleurFond: #eee;
$couleurTexte: blue;
$couleurBoite: #eee;
$couleurMenu:rgb(31, 30, 30);
$fondBoite:grey;
$couleurFondHover: #282274;
$couleurHover:white;
$couleurList: #3f36c7;
$random-couleur:rgb(random(255),random(255),random(255));